Repository pomazkovanton/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint --fix"
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}

build(ui): add a library with components
  package.json
  yarn.lock
Due: none

feat(header): add a page logo
  src/App.tsx
  src/index.css
Due: stylelint --fix

build(react): downgraded react version
  package.json
  src/App.tsx
  src/main.tsx
  yarn.lock
Due: none

fix(build): fix paths to configuration files
  .editorconfig
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix(build): fix the project build
  index.html
  package-lock.json
  package.json
  src/App.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: none

feat(header): add a header
  src/App.tsx
  src/components/AppHeader/AppHeader.tsx
  src/components/AppHeader/appheader.module.css
  src/components/AppHeader/index.ts
  src/index.css
Due: stylelint --fix

refactor(appheader): split header into smaller components
  src/components/AppHeader/AppHeader.tsx
  src/components/AppHeader/MainNav/MainNav.tsx
  src/components/AppHeader/MainNav/index.ts
  src/components/AppHeader/MainNav/mainnav.module.css
  src/components/AppHeader/NavItem/NavItem.tsx
  src/components/AppHeader/NavItem/index.ts
  src/components/AppHeader/NavItem/navitem.module.css
  src/components/AppHeader/appheader.module.css
Due: stylelint --fix

feat(data): add information about ingredients
  src/index.css
  src/main.tsx
  src/utils/data.json
Due: stylelint --fix

feat: add a component with a selection of ingredients
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/Ingredient/index.ts
  src/components/BurgerIngredients/Ingredient/ingredient.module.css
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/components/BurgerIngredients/IngredientList/index.ts
  src/components/BurgerIngredients/IngredientList/ingredientlist.module.css
  src/components/BurgerIngredients/burgeringredients.module.css
  src/components/BurgerIngredients/index.ts
Due: stylelint --fix

feat: add a burger constructor
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/burgerconstructor.module.css
  src/components/BurgerConstructor/index.ts
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/components/BurgerIngredients/burgeringredients.module.css
Due: stylelint --fix

fix: make a check on the bun and filling
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix: add lost code
  src/App.tsx
  src/main.css
  src/main.tsx
  src/types/Ingredient.ts
Due: stylelint --fix

fix(burgerconstructor): add signatures on buns
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix(structure): move the App to the folder with components
  src/components/App/App.tsx
  src/components/App/app.module.css
  src/components/App/index.ts
  src/main.tsx
  tsconfig.json
Due: stylelint --fix

fix: remove inline styles
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/burgeringredients.module.css
Due: stylelint --fix

fix(app): make a bun check when adding to a burger
  src/components/App/App.tsx
Due: none

fix(counter): reset the status of the counter from the App
  src/components/App/App.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
Due: none

feat(burgerconstructor): add price calculation in the burger constructor
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
Due: none

feat(api): get data from the api
  package.json
  src/components/App/App.tsx
  src/utils/data.json
  yarn.lock
Due: none

feat(modal): add a component with a universal modal window
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/components/Modal/modal.module.css
Due: stylelint --fix

feat(modal): add a modal window with an order
  .stylelintrc.js
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/burgerconstructor.module.css
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.module.css
  src/images/done.png
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat(modal): add a modal window with an ingredient
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/Ingredient/ingredient.module.css
  src/components/Modal/modal.module.css
Due: stylelint --fix

fix(modal): place order information in a separate component
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/OrderDetails/OrderDetails.tsx
  src/components/BurgerConstructor/OrderDetails/index.ts
  src/components/BurgerConstructor/OrderDetails/orderdetails.module.css
  src/components/BurgerConstructor/burgerconstructor.module.css
Due: stylelint --fix

fix(modal): put the information about the ingredient in a separate component
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/Ingredient/ingredient.module.css
  src/components/BurgerIngredients/IngredientDetails/IngredientDetails.tsx
  src/components/BurgerIngredients/IngredientDetails/index.ts
  src/components/BurgerIngredients/IngredientDetails/ingredientdetails.module.css
Due: stylelint --fix

fix(modal): moved the overlay to a separate component
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalOverlay/ModalOverlay.tsx
  src/components/Modal/ModalOverlay/index.ts
  src/components/Modal/ModalOverlay/modaloverlay.module.css
  src/components/Modal/modal.module.css
Due: stylelint --fix

fix(modal): replaced the popup closing icon from the UI library
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.module.css
Due: stylelint --fix

fix(modal): create modal windows through the portal
  index.html
  src/components/Modal/Modal.tsx
Due: none

refactor(modal): make closing a modal window a separate function
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalOverlay/ModalOverlay.tsx
Due: none

fix(modal): fix deleting the Escape handler
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/Modal/Modal.tsx
Due: none

fix(modal): move modal window creation to BurgerIngredients
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientDetails/IngredientDetails.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
Due: none

refactor(tabs): move tabs to a separate component
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Tabs/Tabs.tsx
  src/components/BurgerIngredients/Tabs/index.ts
  src/components/BurgerIngredients/Tabs/tabs.module.css
  src/components/BurgerIngredients/burgeringredients.module.css
Due: stylelint --fix

refactor(burgeringredients): remove duplicate code for rendering the list of ingredients
  src/components/BurgerIngredients/BurgerIngredients.tsx
Due: none

feat(burgerconstructor): wrap the burger constructor in context
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/services/burgerConstructorContext.ts
Due: none

fix(burgerconstructor): fix burger cost calculation
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

feat(burgerconstructor): get the order number from the server
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix(api): put the code for working with the API in a separate file
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/utils/burger-api.ts
Due: none

fix(burgerconstructor): add both buns to the order
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix(modal): add server response verification
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix(burgeringredients): make the ingredients output in one list
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/IngredientList/ingredientlist.module.css
  src/components/BurgerIngredients/burgeringredients.module.css
Due: stylelint --fix

fix(alert): add error notifications for the user
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none
