Repository pomazkovanton/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint --fix"
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}

refactor(auth): code refactoring
  src/components/AppRouter/AppRouter.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/store/authSlice.js
  src/store/index.js
  src/store/userSlice.js
  src/utils/constans.ts
  src/utils/routes.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat(pages): add a password reset page
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/pages/ResetPasswordPage/index.ts
  src/pages/ResetPasswordPage/resetpasswordpage.module.css
  src/utils/routes.ts
Due: stylelint --fix

feat(api): add a header to the server request handler
  src/utils/utils.ts
Due: none

feat: add password recovery
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
  src/utils/constans.ts
  src/utils/user-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor: remove data output to the console
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
Due: none

feat: add the ability to reset your password
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/utils/auth-api.ts
Due: none

feat(util): add functions for working with cookies
  src/utils/utils.ts
Due: none

feat(register): add token saving to cookies
  src/store/authSlice.js
  src/utils/auth-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat(auth): add user authentication
  src/pages/LoginPage/LoginPage.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat(auth): add a token update when the page loads
  src/components/App/App.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: add hover links in the header of the site
  src/components/AppHeader/NavItem/navitem.module.css
Due: stylelint --fix

feat: add a profile page
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/profilepage.module.css
  src/utils/constans.ts
  src/utils/routes.ts
Due: stylelint --fix

feat: change the routing to the main page
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/utils/routes.ts
Due: none

feat: add the ability to log out of the profile
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: get user data from the server
  src/components/App/App.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
  src/utils/constans.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor: lint styles of the profile page
  src/pages/ProfilePage/profilepage.module.css
Due: stylelint --fix

style(profile): refine profile styles
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/profilepage.module.css
Due: stylelint --fix

feat: add blocking of inputs
  src/pages/ProfilePage/ProfilePage.tsx
Due: none

feat: add cleaning of the profile update form
  src/pages/ProfilePage/ProfilePage.tsx
Due: none

feat: add the ability to change user data
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/authSlice.js
  src/utils/auth-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: make common routes
  src/components/AppRouter/AppRouter.tsx
  src/utils/constans.ts
  src/utils/routes.ts
Due: none

feat: add a ingredient page
  src/components/App/App.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/Ingredient/ingredient.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/IngredientPage/IngredientPage.tsx
  src/pages/IngredientPage/index.ts
  src/pages/IngredientPage/ingredientpage.module.css
  src/utils/constans.ts
  src/utils/routes.ts
Due: stylelint --fix

feat: add a route for a modal window
  src/components/AppRouter/AppRouter.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/components/BurgerIngredients/IngredientModal/index.ts
  src/utils/routes.ts
Due: none

refactor(lint): formatting css styles
  src/components/AppHeader/NavItem/navitem.module.css
  src/components/BurgerIngredients/Ingredient/ingredient.module.css
  src/pages/IngredientPage/ingredientpage.module.css
Due: stylelint --fix

Updates
  assets/index.1fd06046.css
  assets/index.5333bd85.js
  assets/index.5b9469b6.js
  assets/index.796feae6.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat: make a route for the orders page
  src/pages/ProfilePage/ProfilePage.tsx
  src/utils/constans.ts
  src/utils/routes.ts
Due: none

Updates
  assets/index.5333bd85.js
  assets/index.b834db34.js
  index.html
Due: prettier --config .prettierrc --write, eslint --fix

build(vite): open the browser when starting the project
  package.json
Due: none

refactor(hooks): add a custom hook for processing form fields
  src/hooks/useForm.js
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: prettier --config .prettierrc --write, eslint --fix

fix(forms): hang the form submission handler on the form itself
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: none

fix: remove empty tags
  src/components/App/App.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/pages/HomePage/HomePage.tsx
Due: none

feat(routes): add protected routes
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/ProtectedRoute/ProtectedRoute.tsx
  src/components/AppRouter/ProtectedRoute/index.ts
  src/utils/routes.ts
Due: none

feat(routes): refine page-by-page routing
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/ProtectedRoute/protectedroute.css
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: stylelint --fix

feat: make a redirect to the page with the ingredient
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
Due: none

fix: replace push with replace
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
Due: none

fix: remove the addition of an ingredient when clicked
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
Due: none

Updates
  assets/index.b834db34.js
  assets/index.d5a37ebb.js
  index.html
Due: prettier --config .prettierrc --write, eslint --fix

feat: clearing the constructor after ordering
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/burgerSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

feat: finish navigation in header
  src/components/AppHeader/AppHeader.tsx
  src/components/AppHeader/MainNav/MainNav.tsx
  src/components/AppHeader/appheader.module.css
  src/utils/constans.ts
Due: stylelint --fix

Updates
  assets/index.1fd06046.css
  assets/index.29f34566.js
  assets/index.4fe6af1e.css
  assets/index.d5a37ebb.js
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix
