Repository pomazkovanton/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

refactor(ts): type the ingredientDetailsSlice
  src/store/slices/ingredientDetailsSlice.js
  src/store/slices/ingredientDetailsSlice.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(ts): type the orderDetailsSlice
  src/store/slices/orderDetailsSlice.ts
  src/utils/types/order.ts
Due: none

refactor(ts): type the interface for working with ws
  src/store/middleware/wsMiddleware.ts
  src/store/slices/wsSlice.ts
  src/utils/types/order.ts
  src/utils/types/wsResponse.ts
Due: none

refactor(ts): type order slice
  src/store/slices/orderSlice.js
  src/store/slices/orderSlice.ts
  src/store/slices/wsSlice.ts
  src/utils/types/common.ts
  src/utils/types/responses.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(ts): type ingredients slice
  src/store/slices/ingredientsSlice.js
  src/store/slices/ingredientsSlice.ts
  src/utils/types/responses.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(ts): type auth slice
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/slices/authSlice.js
  src/store/slices/authSlice.ts
  src/store/slices/burgerSlice.ts
  src/store/slices/ingredientDetailsSlice.ts
  src/store/slices/ingredientsSlice.ts
  src/store/slices/orderDetailsSlice.ts
  src/store/slices/orderSlice.ts
  src/utils/types/Ingredient.ts
  src/utils/types/burger.ts
  src/utils/types/main.ts
  src/utils/types/order.ts
  src/utils/types/responses.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(ts): type auth-api
  src/utils/auth-api.ts
  src/utils/types/main.ts
Due: none

refactor(ts): type utils
  src/utils/utils.ts
Due: none

refactor(ts): type burger-api
  src/store/slices/orderSlice.ts
  src/utils/burger-api.ts
  src/utils/types/common.ts
  src/utils/types/main.ts
  src/utils/utils.ts
Due: none

refactor: transfer hooks to a single file
  src/pages/FeedPage/FeedPage.tsx
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/utils/hooks.ts
  src/utils/hooks/useAppDispatch.ts
  src/utils/hooks/useAppSelector.ts
  src/utils/hooks/useForm.js
Due: prettier --config .prettierrc --write, eslint --fix

refactor(ts): type feed page
  package.json
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
  yarn.lock
Due: stylelint --fix

build(tsconfig): remove the try catch check
  tsconfig.json
Due: none

refactor(ts): type forgot-password page
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/utils/hooks.ts
Due: none

build: add a custom loader
  src/components/Loader/Loader.tsx
  src/components/Loader/index.ts
  src/components/Loader/loader.module.css
  src/pages/FeedPage/FeedPage.tsx
Due: stylelint --fix

refactor(ts): type history-order page
  src/pages/HistoryOrderPage/HistoryOrderPage.tsx
Due: none

fix: add typing for the react component
  src/pages/HistoryOrderPage/HistoryOrderPage.tsx
Due: none

refactor(ts): type home page
  src/pages/HomePage/HomePage.tsx
Due: none

refactor(ts): type ingredient page
  src/pages/IngredientPage/IngredientPage.tsx
Due: none

refactor(ts): type login page
  src/pages/LoginPage/LoginPage.tsx
Due: none

refactor(ts): type order page
  src/pages/OrderPage/OrderPage.tsx
Due: none

refactor(ts): type profile page
  src/pages/ProfilePage/ProfilePage.tsx
  src/utils/types/main.ts
Due: none

refactor(ts): type register page
  src/pages/RegisterPage/RegisterPage.tsx
Due: none

refactor(ts): type reset-password page
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: none

refactor(ts): typing the app component
  src/components/App/App.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: none

refactor(ts): typing header components
  src/components/AppHeader/AppHeader.tsx
  src/components/AppHeader/MainNav/MainNav.tsx
Due: none

refactor(ts): typing router components
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/ProtectedRoute/ProtectedRoute.tsx
Due: none

refactor(ts): type burger constructor
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/OrderDetails/OrderDetails.tsx
  src/store/slices/burgerSlice.ts
  src/utils/types/main.ts
Due: none

refactor(ts): type burger ingredients
  package-lock.json
  package.json
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientDetails/IngredientDetails.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/components/BurgerIngredients/Tabs/Tabs.tsx
  src/utils/types/main.ts
  yarn.lock
Due: none

fix(store): fix storage operation during authentication
  src/store/slices/authSlice.ts
Due: none

fix(utils): fix the typing of the setCookie function
  src/utils/utils.ts
Due: none

refactor(ts): type card order
  src/components/CardOrder/CardOrder.tsx
Due: none

refactor(ts): type components
  src/components/Loader/Loader.tsx
  src/components/Modal/Modal.tsx
  src/components/OrderDetails/OrderDetails.tsx
  src/components/OrderModal/OrderModal.tsx
  src/components/StatisticsBoard/StatisticsBoard.tsx
  src/utils/types/main.ts
Due: none

fix(ts): add typing for elements with any
  src/components/AppRouter/AppRouter.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/utils/utils.ts
Due: none

feat(header): add a user name to the site header when logging in
  src/components/AppHeader/AppHeader.tsx
Due: none

Updates
  assets/index.257dc9c3.js
  assets/index.a36093c4.js
  assets/index.d1a05095.css
  assets/index.fcaaee36.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat(ts): add typing for axios query responses
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/utils/auth-api.ts
  src/utils/burger-api.ts
  src/utils/types/responses.ts
  src/utils/utils.ts
Due: none

refactor(ts): translated into files in ts format
  .stylelintrc.ts
  commitlint.config.ts
Due: none

fix(dnd): fix problems with dnd in Firefox
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
Due: none

doc(readme): обновить описание проекта
  README.md
Due: none

Path conditions:
  prettier --config .prettierrc --write: any of: **/*.{js,jsx, ts, tsx}
  eslint --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.css
