Repository pomazkovanton/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat(burgerconstructor): make the button lock when ordering
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

refactor(burgerconstructor): improve the search for buns in the order
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

feat(store): transfer to redux the receipt and storage of data about ingredients
  package.json
  src/components/App/App.tsx
  src/main.tsx
  src/store/index.js
  src/store/ingredientsSlice.js
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix

feat(store): add burger data to the global state
  package.json
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/services/burgerConstructorContext.ts
  src/store/burgerSlice.js
  src/store/index.js
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix

feat(store): transferred the data about the ingredient to the global store
  src/components/App/App.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/components/Modal/Modal.tsx
  src/store/index.js
  src/store/ingredientDetailsSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

feat(store): submit order data to the global store
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/index.js
  src/store/ingredientDetailsSlice.js
  src/store/orderSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

feat(dnd): add dnd for ingredients and burger constructor
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
Due: none

feat(burgerconstructor): add a description when more than one ingredient is not selected
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

feat(scroll): add a scroll inside the container with ingredients
  package.json
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/components/BurgerIngredients/Tabs/Tabs.tsx
  src/components/BurgerIngredients/Tabs/tabs.module.css
  yarn.lock
Due: stylelint --fix

fix(tabs): fix the area of clicking on the link
  src/components/BurgerIngredients/Tabs/Tabs.tsx
  src/components/BurgerIngredients/Tabs/tabs.module.css
Due: stylelint --fix

feat(dnd): add interactivity for dnd
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/burgerconstructor.module.css
Due: stylelint --fix

feat(store): changed the method of storing ingredients in the store
  package-lock.json
  package.json
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/store/burgerSlice.js
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix

fix(order): fixed the request for the order number to the server
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/types/burgerIngredients.ts
Due: none

feat(dnd): add sorting of ingredients inside the burger
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/burgerSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

fix(burgerconstructor): add the ability to remove an ingredient
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/burgerSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

refactor(price): improve the way the price is calculated
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix(styles): delete inline styles
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/burgerconstructor.module.css
Due: stylelint --fix

refactor: shorten the conditional operator entry
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

fix: remove unnecessary inline callback
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
Due: none

fix(store): make addToBurger a pure function
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/store/burgerSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

fix(store): delete empty reducers
  src/store/ingredientsSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

refactor(store): convert data loading statuses to constants
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/ingredientsSlice.js
  src/store/orderSlice.js
  src/utils/burger-api.ts
  src/utils/constans.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(burgerconstructor): separate rendering and data preparation
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerConstructor/burgerconstructor.module.css
Due: stylelint --fix

refactor(modals): move modal windows
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
Due: none

fix(burgerconstructor): remove keys for items not from the list
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

refactor(burgerconstructor): wrap calculations in useMemo
  src/components/BurgerConstructor/BurgerConstructor.tsx
Due: none

Updates
  assets/JetBrainsMono-Bold.39b49db1.woff
  assets/JetBrainsMono-Bold.564c754a.woff2
  assets/JetBrainsMono-Regular.7c0676c8.woff2
  assets/JetBrainsMono-Regular.b46bf440.woff
  assets/done.6e51f3b8.png
  assets/iceland.1ec866e6.woff
  assets/iceland.b3177575.woff2
  assets/index.5b9469b6.js
  assets/index.a9c8f9cd.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

Updates
  assets/index.5b9469b6.js
  assets/index.796feae6.css
  assets/index.a9c8f9cd.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

build(deploy): configure deploy to the server
  package.json
  vite.config.ts
  yarn.lock
Due: none

docs(readme): add a description of the project
  README.md
Due: none

build(router): install react-router
  package.json
  yarn.lock
Due: none

feat(route): add a home page
  src/components/App/App.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/homepage.module.css
  src/pages/HomePage/index.ts
Due: stylelint --fix

feat: add a login page
  src/components/App/App.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/index.ts
  src/pages/LoginPage/loginpage.module.css
Due: stylelint --fix

feat(route): add a register page
  src/components/App/App.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/RegisterPage/index.ts
  src/pages/RegisterPage/registerpage.module.css
Due: stylelint --fix

feat(router): add a forgot password page
  src/components/App/App.tsx
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/ForgotPasswordPage/forgotpasswordpage.module.css
  src/pages/ForgotPasswordPage/index.ts
Due: stylelint --fix

feat(routes): make page navigation from the header
  src/components/App/App.tsx
  src/components/AppHeader/AppHeader.tsx
  src/components/AppHeader/MainNav/MainNav.tsx
  src/components/AppHeader/NavItem/NavItem.tsx
  src/components/AppHeader/NavItem/navitem.module.css
Due: stylelint --fix

refactor(utils): move additional functions to a separate file
  src/utils/burger-api.ts
  src/utils/utils.ts
Due: none

feat: make a user registration on the server
  src/pages/RegisterPage/RegisterPage.tsx
  src/store/index.js
  src/store/userSlice.js
  src/utils/constans.ts
  src/utils/user-api.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor(const): make paths into separate constants
  src/utils/constans.ts
Due: none

feat(routes): add public and private routes
  package.json
  src/components/App/App.tsx
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/index.ts
  src/store/userSlice.js
  src/utils/constans.ts
  src/utils/routes.ts
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: any of: **/*.{js,jsx, ts, tsx}
  eslint --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.css
