Repository pomazkovanton/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix: fix profile loading on page refresh
  src/pages/ProfilePage/ProfilePage.tsx
Due: none

Updates
  assets/index.0078210f.css
  assets/index.27264c62.js
  assets/index.29f34566.js
  assets/index.4fe6af1e.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat: add a preliminary layout for the order feed
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
  src/pages/FeedPage/index.ts
  src/utils/constans.ts
  src/utils/routes.ts
Due: stylelint --fix

style: add styles for the order feed page
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
Due: stylelint --fix

feat: write a slice and middleware for ws
  src/pages/FeedPage/FeedPage.tsx
  src/store/index.js
  src/store/middleware/wsMiddleware.js
  src/store/wsSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

refactor(store): move all slices to a separate directory
  src/components/App/App.tsx
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/pages/FeedPage/FeedPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/store/index.js
  src/store/slices/authSlice.js
  src/store/slices/burgerSlice.js
  src/store/slices/ingredientDetailsSlice.js
  src/store/slices/ingredientsSlice.js
  src/store/slices/orderSlice.js
  src/store/slices/wsSlice.js
Due: prettier --config .prettierrc --write, eslint --fix

feat: add a board component
  src/components/Board/Board.tsx
  src/components/Board/board.module.css
  src/components/Board/index.ts
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
Due: stylelint --fix

refactor: put all statistics in a separate component
  src/components/Board/board.module.css
  src/components/StatisticsBoard/StatisticsBoard.tsx
  src/components/StatisticsBoard/index.ts
  src/components/StatisticsBoard/statisticsboard.module.css
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
Due: stylelint --fix

refactor(const): put the url for ws in separate constants
  src/pages/FeedPage/FeedPage.tsx
  src/utils/constans.ts
Due: none

feat: redesign of the order card
  src/components/StatisticsBoard/StatisticsBoard.tsx
  src/pages/FeedPage/FeedPage.tsx
Due: none

feat: add the display of ingredients to the order cards
  src/pages/FeedPage/FeedPage.tsx
Due: none

refactor: move the order card to a separate component
  src/components/CardOrder/CardOrder.tsx
  src/components/CardOrder/cardorder.module.css
  src/components/CardOrder/index.ts
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
Due: stylelint --fix

feat: add a order modal
  src/components/CardOrder/CardOrder.tsx
  src/components/OrderModal/OrderModal.tsx
  src/components/OrderModal/index.ts
  src/components/OrderModal/ordermodal.module.css
  src/pages/FeedPage/FeedPage.tsx
  src/pages/FeedPage/feedpage.module.css
  src/store/index.js
  src/store/slices/orderDetailsSlice.js
  src/utils/routes.ts
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix(modal): raise the modal window to the top layer
  src/components/Modal/ModalOverlay/modaloverlay.module.css
Due: stylelint --fix

feat: add a modal window with an order
  src/components/BurgerConstructor/OrderDetails/OrderDetails.tsx
  src/components/BurgerConstructor/OrderDetails/orderdetails.module.css
  src/components/BurgerIngredients/IngredientDetails/IngredientDetails.tsx
  src/components/BurgerIngredients/IngredientDetails/ingredientdetails.module.css
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.module.css
  src/components/OrderModal/OrderModal.tsx
  src/components/OrderModal/ordermodal.module.css
Due: stylelint --fix

refactor: formatting css styles
  src/components/AppRouter/ProtectedRoute/protectedroute.css
  src/components/CardOrder/cardorder.module.css
  src/components/Modal/modal.module.css
  src/components/OrderModal/ordermodal.module.css
  src/components/StatisticsBoard/statisticsboard.module.css
  src/pages/FeedPage/feedpage.module.css
Due: stylelint --fix

feat(utils): add a function to format the date
  src/components/CardOrder/CardOrder.tsx
  src/components/OrderModal/OrderModal.tsx
  src/utils/utils.ts
Due: none

feat: add a order page
  src/components/OrderDetails/OrderDetails.tsx
  src/components/OrderDetails/index.ts
  src/components/OrderDetails/orderdetails.module.css
  src/components/OrderModal/OrderModal.tsx
  src/components/OrderModal/ordermodal.module.css
  src/pages/OrderPage/OrderPage.tsx
  src/pages/OrderPage/index.ts
  src/pages/OrderPage/orderpage.module.css
  src/utils/routes.ts
Due: stylelint --fix

fix(modal): fix closen modal window\
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/pages/OrderPage/OrderPage.tsx
Due: none

feat(order): add a token to the request when placing an order
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/utils/burger-api.ts
Due: none

feat: add a page with user orders
  src/components/CardOrder/CardOrder.tsx
  src/components/CardOrder/cardorder.module.css
  src/components/OrderDetails/OrderDetails.tsx
  src/pages/FeedPage/FeedPage.tsx
  src/pages/HistoryOrderPage/HistoryOrderPage.tsx
  src/pages/HistoryOrderPage/historyorderpage.module.css
  src/pages/HistoryOrderPage/index.ts
  src/utils/routes.ts
Due: stylelint --fix

feat: add a modal window for user orders
  src/pages/HistoryOrderPage/HistoryOrderPage.tsx
  src/pages/HistoryOrderPage/historyorderpage.module.css
  src/utils/routes.ts
Due: stylelint --fix

feat: add a route for user orders
  src/utils/routes.ts
Due: none

fix: fix the display of the burger constructor
  src/components/BurgerConstructor/burgerconstructor.module.css
  src/components/BurgerIngredients/burgeringredients.module.css
  src/pages/HomePage/homepage.module.css
Due: stylelint --fix

fix: fix the display of the ingredients counter
  src/components/CardOrder/CardOrder.tsx
Due: none

Updates
  assets/index.0078210f.css
  assets/index.27264c62.js
  assets/index.fcaaee36.css
  assets/index.fcdce4f9.js
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix: get rid of the error when closing the modal window
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/components/OrderModal/OrderModal.tsx
  src/pages/FeedPage/FeedPage.tsx
  src/pages/OrderPage/OrderPage.tsx
Due: none

fix: make a conclusion only unique ingredients
  src/components/CardOrder/CardOrder.tsx
  src/components/OrderModal/OrderModal.tsx
Due: none

fix: replace keys from generated ones with permanent ones
  src/components/CardOrder/CardOrder.tsx
  src/components/StatisticsBoard/StatisticsBoard.tsx
Due: none

feat: redirect the user to the order page after updating the page
  src/components/OrderModal/OrderModal.tsx
Due: none

Updates
  assets/index.2628f040.js
  assets/index.fcaaee36.css
  assets/index.fcdce4f9.js
  assets/index.fda734a1.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix: to redirect the user after updating the page
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/components/OrderModal/OrderModal.tsx
  src/pages/OrderPage/OrderPage.tsx
Due: none

Updates
  assets/index.2628f040.js
  assets/index.27864300.js
  index.html
Due: prettier --config .prettierrc --write, eslint --fix

fix(store): connect Redux Persist to work with authorization and modal windows
  package.json
  src/components/BurgerIngredients/IngredientModal/IngredientModal.tsx
  src/components/OrderModal/OrderModal.tsx
  src/main.tsx
  src/store/index.js
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix

Updates
  assets/index.27864300.js
  assets/index.a36093c4.js
  assets/index.fcaaee36.css
  assets/index.fda734a1.css
  index.html
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

docs: update readme
  README.md
Due: none

docs: fix paths to icons
  README.md
Due: none

refactor: move all additional code to the utils folder
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/components/BurgerIngredients/BurgerIngredients.tsx
  src/components/BurgerIngredients/Ingredient/Ingredient.tsx
  src/components/BurgerIngredients/IngredientDetails/IngredientDetails.tsx
  src/components/BurgerIngredients/IngredientList/IngredientList.tsx
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  src/utils/hooks/useForm.js
  src/utils/types/Ingredient.ts
  src/utils/types/burgerIngredients.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: add typed hooks to work with storage
  src/store/index.ts
  src/utils/hooks/useAppDispatch.ts
  src/utils/hooks/useAppSelector.ts
Due: none

feat(store): type a slice with a burger
  src/components/BurgerConstructor/BurgerConstructor.tsx
  src/store/slices/burgerSlice.ts
  src/utils/types/Ingredient.ts
  src/utils/types/burger.ts
  src/utils/types/burgerIngredients.ts
Due: none

Path conditions:
  prettier --config .prettierrc --write: any of: **/*.{js,jsx, ts, tsx}
  eslint --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.css
